out/
bin/
.settings/
.gradle/
.idea/
build/
*.log
.vs/
application.pid
/clients/keystore
commonModuleExample/src/app/generatedCm/
commonModuleExample/src/app/generatedWawi/
commonModuleNCI/postgres_db/
