TODO migrate from material to primeng <br><br>

<h2>Data from WAWI</h2>
Pharmacyname: '{{pharmacyInfo.name}}' <br>

<div *ngIf="medicationContainers">
    <h2>Data from own CM</h2>
    <table>
        <thead>
        <th>ID</th>
        <th>Name</th>
        <th>First name</th>
        </thead>
        <tbody>
        <tr *ngFor="let medication of medicationContainers">
            <td>{{medication.id}}</td>
            <td>{{medication.consumerName}}</td>
            <td>{{medication.consumerFirstname}}</td>
        </tr>
        </tbody>
    </table>
</div>